@charset"utf-8";
$bigwidth:100%;
@mixin lishuxing{
    float:left;
    list-style:none;
}
@mixin ashuxing{
    text-decoration:none;
    font-weight:bolder;
}
*{
    padding:0;
    margin:0;
}
#box{
    width:$bigwidth;
    height:3887px;
    background:#000;
}
#wrap{
    width:990px;
    height:3760px;
    margin:0 auto;
}

#banner{
    width:990px;
    height:3720px;
    overflow:hidden;
    img{
        display:block;
    }
}
