@charset "utf-8";

*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
#box{
    width:100%;
    height:4300px;
}
#wrap{
    width:1240px;
    height:3580px;
    margin:0 auto;
}
#banner{
    width:1240px;
    height:565px;
    margin:0 auto;
}

#content{
    width:1240px;
    height:3010px;
 h2{
            text-align:center;
            color:hotpink;
            }   
    .content1{
        margin-top:30px;
        width:1240px;
        height:700px;
        dl{
            width:1240px;
            height:700px;
            
            dd{
                text-align:center;
            }
            dt{
                width:1240px;
                height:496px;
                text-align:center;
                overflow:hidden;
                position:relative;
                img{
                    width:1240px;
                    height:496px;
                    position:absolute;
                    left:0;
                    top:0;
                }
            }
        }
        
        
    }
    .content2{
        width:1240px;
        height:596px;
        position:relative;
        dl{
            width:550px;
            height:520px;
            position:absolute;
            left:0;
            top:35px;
            float:left;
            text-align:center;
        }
        p{
            width:623px;
            height:565px;
            float:right;
            position:relative;
            img{
                position:absolute;
                left:0;
            }
        }
    }
    .content3{
        width:1240px;
        height:300px;
        position:relative;
        #ul1{
            width:615px;
            height:280px;
//          position:absolute;
//          left:0;
//          top:0px;
            padding-top:20px;
            float:left;
            text-align:center; 
            background:#ECECEC;
        }
        #ul2{
            width:623px;
            height:280px;
            padding-top:20px;
            float:right;
            text-align:center; 
        }
    }
    .content4{
        width:1240px;
        height:506px;
        margin-top:10px;
        overflow:hidden;
        position:relative;
    }
//  #moban{
//              width:1240px;
//              height:506px;
//              text-align:center;
//              background:rgba(0,0,0,0.2);
//              line-height:506px;
//              font-size:25px;
//              color:hotpink;
//              font-weight:bolder;
//              position:absolute;
//              left:0px;
//              top:506px;
//              z-index:10;
//           //   display:none;
//      }
    .content5{
        width:1240px;
        height:410px; 
        position:relative;
        ul{
            width:550px;
            height:300px;
            float:left;
            position:absolute;
            left:0;
            top:0px;
            padding-top:20px;
            text-align:center;
        }
        p{
            width:597px;
            position:relative;
            height:356px;
            float:right;
            img{
                position:absolute;
                left:0;
            }
        }
    }
    .content6{
        width:1240px;
        height:450px; 
        border-bottom:solid 5px lightcoral;
        dl{
            width:595px;
            height:200px; 
            padding:10px;
            font-size:14px;
            float:left;
            dt{
                width:275px;
                height:195px;
                float:left;
                margin-right:10px;
                position:relative;
                img{
                    position:absolute;
                    left:0;
                    top:0;
                }
            }
        }
    }
}
.content6 dt:hover{
        color:hotpink;
        font-weight:bolder;
    }
.content2 dd:hover{
        color:hotpink;
        font-weight:bolder;
    }
.content5 li:hover{
        color:hotpink;
        font-weight:bolder;
    }
.content3 li:hover{
        color:hotpink;
        font-size:18px;
        font-weight:bolder;
    }
.content3 h2:hover{
        background:peachpuff;
    }
.content1 dd:hover{
        color:red;
        font-weight:bolder;
}
