@charset"utf-8";
$bigwidth:100%;
@mixin lishuxing{
    float:left;
}
@mixin ashuxing{
    text-decoration:none;
    font-weight:bolder;
}
*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
#box{
    width:$bigwidth;
    height:3680px;
 //   background:#000;
}
#wrap{
    width:990px;
    height:3060px;
    margin:0 auto;
}
#aside{
    width:49px;
    height:108px;
    border:solid 1px #ccc;
    position:fixed;
    right:20px;
    bottom:50px;
}
#aside li{
    width:49px;
    height:54px;
    background:#0f0;
}

#banner{
    width:990px;
    height:500px;
    position:relative;
    overflow:hidden;
    ul{
        width:3000px;
        height:500px;
        position:absolute;
        li{
            width:990px;
            height:500px;
            @include lishuxing;
        }
    }
}
#content{
    width:990px;
    height:2395px;
    overflow:hidden;
    .contents{
        width:990px;
        height:1990px;
        
//      .moban{
//          width:200px;
//          height:170px;
//          display:none;
//          position:absolute;
//          padding-top:30px;
//          background:rgba(0,0,0,0.3);
//          color:white;
//          font-weight:bolder;
//          text-align:center;
//          u{
//              text-decoration:none;
//              font-size:18px;
//          }
//          i{
//              font-style:normal;
//              font-size:16px;
//          }
//          span{
//              font-size:20px;
//              color:#001e5e;
//          }
//      }
        dl{
            width:966px;
            height:200px;
            padding:5px 0px 5px 20px;
            margin-bottom:5px;
            border-bottom:solid 1px #ccc;
        }
        dt{
            width:710px;
            height:200px;
            float:left;
        }
        p{
            padding:10px;
            font-weight:bolder;
            font-size:16px;
            color:#666;
        }
        dd{
            width:230px;
            height:200px;
            float:right;
            position:relative;
            overflow:hidden;
            img{
                width:200px;
                height:200px;
                position:absolute;
                left:30px;
            }
        }
        h2{
            text-align:center;
            color:#142c6c;
        }
        h1{
            text-align:center;
            color:#f4d713;
            background:#142c6c;
        }
    }
}
#foot{
    width:990px;
    height:125px;
    background:#fff;
    overflow:hidden;
    margin-top:10px;
}
